
html {
  width: 100%;
  color: seashell;
  opacity: .9;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  text-align: center;
}

.menu a,
h2,
h3,
h4,
h5 {
  opacity: .9;
}

h2,
h4 {
  margin: auto;
}

.menu a {
  color: seashell;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: 0px 0px;
  align-items: center;
}

.mission-container {
  margin-top: 70px;
  display: inline-flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  margin: 0px 50px 60px 50px;
  align-items: center;
  justify-content: center;
}

.mission-description {
  display: inline-flex;
  height: 100px;
  width: 100%;
  background-color: black;
  align-items: center;
}

.band-text-container {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100%;
  align-content: space-between;
  /* border: 1px solid white; */
}

.monthly-menu {
  display: inline-flex;
  flex-direction: column;
  width: 1050px;
  height: 600px;
  align-content: flex-start;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.monthly-items {
  display: inline-flex;
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  /* border: 1px solid white; */
}

.item-container {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 240px;
  margin: 0px 25px;
  /* border: 1px solid white; */
}

.item-container h4 {
  margin-top: 10px;
}

.item {
  display: inline-flex;
  width: 100%;
  height: 200px;
  background-size: contain;
  margin-top: 20px;
  /* border: 1px solid white; */
}

#mission,
#featured-tea,
#locations {
  height: 69px;
  margin-top: -69px;
}

#item-1 {
  background-image: url("../images/img-berryblitz.jpg");
}

#item-2 {
  background-image: url("../images/img-spiced-rum.jpg");
}

#item-3 {
  background-image: url("../images/img-donut.jpg");
}

#item-4 {
  background-image: url("../images/img-myrtle-ave.jpg");
}

#item-5 {
  background-image: url("../images/img-bedford-bizarre.jpg");
}

.locations-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  margin: 0px 50px 5px 50px;
  justify-content: center;
  align-items: center;
}

.locations-text-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    align-content: flex-end;
    justify-content: flex-end;
    opacity: 1;
}

.locations-text-container h2 {
  margin-bottom: 15px;
}

.location-blocks {
  display: inline-flex;
}

.location-block {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 0px 20px;
    opacity: 1;
    /*  border: 1px solid white;  */
}
