html {
  width: 100%;
  color: seashell;
  opacity: .9;
  font-family: helvetica;
  font-size: 22px;
  background-color: black;
  text-align: center;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  width: 1300px;

  margin: 0px 0px;
  /* justify-content: center; */
  align-items: center;
}

h3, h5 {
  opacity: .9;
}

h2 {
  margin: auto;
  opacity: .9;
}

h4 {
  margin: auto;
  opacity: .9;
}

.menu a {
  color: seashell;
  opacity: .9;
}

.mission-container {
  margin-top: 70px;
  display: inline-flex;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  margin: 0px 50px 60px 50px;
  align-items: center;
  justify-content: center;
}

.mission-description {
  display: inline-flex;
  height: 100px;
  width: 100%;
  background-color: black;
  align-items: center;
}

.band-text-container {
  display: flex;
  flex-direction: column;
  height: 80px;
  width: 100%;
  align-content: space-between;
  /* border: 1px solid white; */
}

.monthly-menu {
  display: inline-flex;
  flex-direction: column;
  width: 1050px;
  height: 600px;
  /* border: 1px solid white; */
  align-content: flex-start;
  justify-content: space-between;

  /* margin: 0px 150px 60px 150px; */
}

.monthly-items {
  display: inline-flex;
  width: 100%;
  align-content: flex-start;
  justify-content: center;
  align-items: center;
/* border: 1px solid white; */
  height: 100%;
  flex-wrap: wrap;
}

.item-container {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  height: 240px;
  /* border: 1px solid white; */
  margin-top: 10px;
  /* justify-content: space-between; */
  margin: 0px 25px 0px 25px;
}

.item-container h4 {
  margin-top: 10px;
}

.item {
  display: inline-flex;
  width: 100%;
  height: 200px;
  background-size: contain;
  margin-top: 20px;
  /* border: 1px solid white; */
}

#item-1 {
  background-image: url("../images/img-berryblitz.jpg");
}

#item-2 {
  background-image: url("../images/img-spiced-rum.jpg");
}

#item-3 {
  background-image: url("../images/img-donut.jpg");
}

#item-4 {
  background-image: url("../images/img-myrtle-ave.jpg");
}

#item-5 {
  background-image: url("../images/img-bedford-bizarre.jpg");
}

.location-container {
  margin-top: 70px;
  display: inline-flex;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");
  margin: 0px 80px 5px 50px;
  align-items: center;
  justify-content: center;
}
/*
body,
.menu a,
h1,
h2,
h3,
h4,
h5 {
  font-family: helvetica;
  color: seashell;
  opacity: .9;
}
*/

h5 {}
